@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed');

$font-stack: 'Roboto Condensed', sans-serif;

:root {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

.red-nav {
  height: 20%;
}

.red-hover:hover {
  text-decoration: underline;
  text-decoration-color: red;
}
