@media screen and (min-width: $big-screen-width) {
  .burger-menu,
  .user-icon {
    display: none;      
  }
}

@media screen and (min-width: $tablet-width) and (max-width: $big-screen-width) {
  .bottom-nav,
  .weather-date {
    display: none;
  }
}

@media screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
  .bottom-nav,
  .weather-date {
    display: none;
  }

  .red-nav {
    display: flex;
  }

  .logo-link {
    display: inline;
  }

  .login-subscribe {
    display: flex;
    justify-content: space-between;
  }

  #newsweek-logo {
    width: 150px;
    height: 60px;
  }
}