.red-nav {
  background-color: red;
  height: 122px;
}

.nav-link {
  font-weight: bolder;
}

.login-subscribe {
  a, button {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 0.1rem;
  }

  button {
    color: black;
    letter-spacing: 0;
  }
}

.search-nav > input {
  border: none;
  display: inline;
  width: 50%;
}

.nav-link:hover {
  color: red;
}

.search-nav > input:focus {
  outline: none;
}

.search-nav::after {
  position: absolute;
  top: 0;
  right: 0;
  content: " ";
  display: block;
  width: 5%;
  background-color: #f72210;
  border-left: 12px solid #f8f9fa;
  border-top: 13px solid #f72210;
}
