@import 'config';
@import 'navbar';
@import 'mqueries';

.main-container {
  width: 100%;
  padding: 0;
  background-color: white;
}

body {
  font-family: $font-stack;
}

.grey {
  color: grey;
}

.black {
  color: black;
}

.trending {
  background-color: #fff;
}

.card {
  border: none;
}

.card-title {
  font-weight: bolder;
}

.card-title:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.card-text {
  color: grey;
}

.horizontal-card {
  flex-direction: row;
}