@import 'config';
@import 'navbar';
@import 'mqueries';

.main-container {
  width: 100%;
  padding: 0;
  background-color: white;
}

body {
  font-family: $font-stack;
}

hr {
  border-top: 3px solid grey;
}

.stories-grid {
  display: grid;
  grid-template-areas: 
    "featured-stories top-stories debate-stories";
}

.card-img-left {
  background-image: url('https://d.newsweek.com/en/full/1654970/mnuchin.webp?w=790&f=e084f7792793750e01514706215dd25a');
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  max-height: 100%;
}

.card-horizontal {
  display: grid;
  grid-template-columns: 20% 80%;
}

.card-custom {
  display: grid;
  grid-template-areas:
   "card-img-top"
   "card-body";
}

.card-custom > div > p {
  color: grey;
  font-size: 0.9rem;
}

.border-bottom-title {
  border-bottom: 2px solid grey;
  display: block;
  padding-bottom: 0.3rem;
}

.card-title-ms {
  font-size: 0.5rem;
}

.hover-red:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.card-text-ms {
  font-size: 0.4rem;
}

.vs-container {
  z-index: 2;
}

.vs-container::before {
  margin-bottom: 2.5px;
  position: absolute;
  content: " ";
  display: block;
  background-color: var(--gray-one);
}

.vs-container::after {
  margin-bottom: 2.5px;
  position: absolute;
  content: " ";
  display: block;
  background-color: var(--gray-one);
}

.last-debate {
  border-width: 8px !important;
}

.bg-image-newsletter {
  background-image: url('https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5');
  background-size: cover;
  background-position: center;
  max-width: 100%;
  max-height: 100%;
}